;;; Your private registry
;;; registry = XXX

;;; During development of this package, only allow node & npm versions stated in package.json::engines
engine-strict = true

;;; Disable version update reminders, we don't want developers to have different versions
update-notifier = false