;;; Your private registry
;;; registry = XXX

;;; Let's not bother developers with manual upgrades of pnpm
manage-package-manager-versions = true

;;; Node.js version that will be automatically used
use-node-version = 22.6.0

;;; During development of this package, only allow node & npm versions stated in package.json::engines
engine-strict = true

;;; Prevent installing dependencies for ALL packages every time `pnpm install` is run
recursive-install = false

;;; Do not bunch together peer dependencies in the root node_modules
resolve-peers-from-workspace-root = false
hoist = false
public-hoist-pattern[] =

;;; Do not auto-install peer deps
auto-install-peers = false

;; needed due to a bug in `recursive-install`
;; ref 1: https://github.com/pnpm/pnpm/issues/6300
;; ref 2: https://github.com/pnpm/pnpm/issues/5508
dedupe-peer-dependents = false

;;; Disable version update reminders, we don't want developers to have different versions
update-notifier = false

;;; Let's be explicit about the shell that executes the "scripts" in package.json
script-shell = bash

;;; Don't allow circular dependencies between projects in this repo
disallow-workspace-cycles = true

;;; When available, default to using local package when running `pnpm install <package name>`
link-workspace-packages = true